@model TataGamedom.Models.EFModels.Issue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IssueStatusCode.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueStatusCode.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueTypesCode.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueTypesCode.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
