@model TataGamedom.Models.ViewModels.Members.BackendMembersListVM

@{
    ViewBag.Title = "Edit";
}

<h2>修改管理員權限</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="row">
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Id)

	<div class="mt-3">
		@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })

			@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
	
	</div>

	<div class="mt-3">
		@Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })

			@Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
	
	</div>

	<div class="mt-3">
		@Html.LabelFor(model => model.BackendMembersRoleId, "BackendMembersRoleId", htmlAttributes: new { @class = "control-label col-md-2" })

			@Html.DropDownList("BackendMembersRoleId", null, htmlAttributes: new { @class = "form-select" })
			@Html.ValidationMessageFor(model => model.BackendMembersRoleId, "", new { @class = "text-danger" })
	
	</div>

	<div class="mt-3">
		@Html.LabelFor(model => model.ActiveFlag, htmlAttributes: new { @class = "control-label col-md-2" })

		<div>
			@Html.DropDownListFor(model => model.ActiveFlag, new SelectList(new List<SelectListItem>
			{
				new SelectListItem { Text = "公開", Value = "true" },
				new SelectListItem { Text = "停權", Value = "false" }
			}, "Value", "Text"), "", new { @class = "form-select" })
			@Html.ValidationMessageFor(model => model.ActiveFlag, "", new { @class = "text-danger" })
		</div>
	</div>


	<div class="mt-3">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="儲存" class="btn btn-primary" />
			@Html.ActionLink("取消編輯", "Index", "BackendMembersList", new { area = "" }, new { @class = "btn btn-danger" })
		</div>
	</div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
