@model TataGamedom.Models.EFModels.GameComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BackendMember.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BackendMember.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.ChiName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.ChiName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteDatetime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
