
<!DOCTYPE html>
<html lang="zh-Hank">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="獺獺玩國提供最優質的電玩新聞、討論區以及商城服務" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/layoutStyle1.css")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>獺獺玩國 TataGamedom</title>
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <div class="title">
        <h1 id="title">我是Title</h1>
    </div>

    <nav id="user-nav">
        <div class="time">
            現在時間：<span id="timeSpan"></span>
        </div>
        <div class="user">
            <ul>
                <li>
                    <a href="#">管理員名稱</a>
                    <ul>
                        <li><a href="#">維護個人資料</a></li>
                        <li><a href="#">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <nav id="side-nav" class="width">
        <a id="logo" href="#">
            <img src="~/Files/Images/otter.png" alt="" class="otterlogo">
        </a>
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-house"></i>
                    <span>後台首頁</span>
                </a>
            </li>
            <li class="selected">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>獺獺使用者</span>
                </a>
                <ul>
                    <li><a href="#">會員管理</a></li>
                    <li><a href="#">管理員管理</a></li>
                    <li><a href="#">電子報管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-comment"></i>
                    <span>獺獺討論區</span>
                </a>
                <ul>
                    <li><a href="#">看板管理</a></li>
                    <li><a href="#">貼文／留言管理</a></li>
                    <li><a href="#">版主審核</a></li>
                    <li><a href="#">檢舉審核</a></li>
                    <li><a href="#">水桶名單管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-newspaper"></i>
                    <span>獺獺新聞</span>
                </a>
                <ul>
                    <li><a href="#">新聞管理</a></li>
                    <li><a href="#">新聞分類管理</a></li>
                    <li><a href="#">新聞留言管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-store"></i>
                    <span>獺獺商城</span>
                </a>
                <ul>
                    <li><a href="#">遊戲管理</a></li>
                    <li><a href="#">商品管理</a></li>
                    <li><a href="#">優惠券管理</a></li>
                    <li><a href="#">商品評論管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cart-flatbed"></i>
                    <span>獺獺庫存</span>
                </a>
                <ul>
                    <li><a href="#">供應商管理</a></li>
                    <li><a href="#">叫貨管理</a></li>
                    <li><a href="#">庫存管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-truck-moving"></i>
                    <span>獺獺訂單</span>
                </a>
                <ul>
                    <li>@Html.ActionLink("訂單管理", "Index", "Orders", new { area = "" }, new { @class = "nav-link" })</li>
                    <li><a href="#">訂單管理</a></li>
                    <li><a href="#">物流管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle-info"></i>
                    <span>獺獺客服</span>
                </a>
                <ul>
                    <li><a href="#">FAQ管理</a></li>
                    <li><a href="#">公告管理</a></li>
                    <li><a href="#">客服管理</a></li>
                </ul>
            </li>
        </ul>
        <a id="toggle">
            <i class="fa fa-chevron-circle-right"></i>
        </a>
    </nav>


    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/layoutScript1.js"></script>
</body>


@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery")
@RenderSection("Scripts", required: false)

</html>


